<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwj.mapper.RawcheckMapper" >
  <resultMap id="BaseResultMap" type="com.mwj.model.Rawcheck" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="DELIVERYCOMPANY" property="deliverycompany" jdbcType="DECIMAL" />
    <result column="CLIENT" property="client" jdbcType="DECIMAL" />
    <result column="CARNUM" property="carnum" jdbcType="VARCHAR" />
    <result column="RAWTOBACCO" property="rawtobacco" jdbcType="DECIMAL" />
    <result column="CHECKNUM" property="checknum" jdbcType="VARCHAR" />
    <result column="CHECKDATE" property="checkdate" jdbcType="TIMESTAMP" />
    <result column="OPERATOR_" property="operator" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, DELIVERYCOMPANY, CLIENT, CARNUM, RAWTOBACCO, CHECKNUM, CHECKDATE, OPERATOR_
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from RAWCHECK
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <insert id="addRocheck" parameterType="com.mwj.model.Rawcheck" >
    <selectKey keyProperty="id"  resultType="java.lang.Integer" >
      select ROWCHK_SEQ.NEXTVAL-1 FROM  dual
    </selectKey>

    insert into RAWCHECK (ID, CODE, DELIVERYCOMPANY,CLIENT, CARNUM, RAWTOBACCO,CHECKNUM, CHECKDATE, OPERATOR_)
    values (ROWCHK_SEQ.NEXTVAL, #{code,jdbcType=VARCHAR}, #{deliverycompany,jdbcType=DECIMAL},
      #{client,jdbcType=DECIMAL}, #{carnum,jdbcType=VARCHAR}, #{rawtobacco,jdbcType=DECIMAL},
      #{checknum,jdbcType=VARCHAR}, #{checkdate,jdbcType=TIMESTAMP}, #{operator,jdbcType=DECIMAL}
      )
  </insert>

 <select id="showRawChcekById" resultMap="BaseResultMap" parameterType="java.lang.Integer">

   SELECT * FROM  RAWCHECK  where ID = #{id,jdbcType=DECIMAL}

 </select>
    <select id="queryRawChcekId" resultType="java.lang.Integer" parameterType="java.lang.String">

        SELECT ID FROM  RAWCHECK  where CHECKNUM = #{checknum,jdbcType=VARCHAR}

    </select>

  <select id="displayRawcheckByChecknum" resultType="java.util.Map" parameterType="java.lang.String">

  SELECT rc.checknum,rc.carnum,rc.checkdate,decom.name_ DELIVERYCOM ,
  clcom.name_ CLIENT ,rc.carnum,us.name_ OPERATOR_,tl.levelname_ LEVELNAME,rt.producingyear PROCEDUREYEAR,pa.name_ PROCEDUREAREA,tt.name_ TOBACCOCATEGORY
  FROM Rawcheck rc
  JOIN company decom ON decom.id = rc.deliverycompany
  JOIN company clcom ON clcom.ID = rc.client
  JOIN USERS us ON rc.operator_ = us.id
  JOIN Rawtobacco rt ON rt.id = rc.rawtobacco
  JOIN producingarea pa ON pa.id = rt.producingarea
  JOIN tobaccolevel tl ON rt.level_ = tl.levelid
  JOIN tobaccocategory tt ON tt.id = rt.tobaccocategory
  WHERE rc.checknum =  #{checknum}

</select>
  <select id="displayRawcheckByCheckId" resultType="java.util.Map" parameterType="java.lang.Integer">

SELECT rc.checknum,rc.carnum,rc.checkdate,decom.name_ DELIVERYCOM ,
clcom.name_ CLIENT ,rc.carnum,us.name_ OPERATOR_,tl.levelname_ LEVELNAME,
rt.producingyear PROCEDUREYEAR,pa.name_ PROCEDUREAREA,tt.name_ TOBACCOCATEGORY
FROM Rawcheck rc
JOIN company decom ON decom.id = rc.deliverycompany
JOIN company clcom ON clcom.ID = rc.client
JOIN USERS us ON rc.operator_ = us.id
JOIN Rawtobacco rt ON rt.id = rc.rawtobacco
JOIN producingarea pa ON pa.id = rt.producingarea
JOIN tobaccolevel tl ON rt.level_ = tl.levelid
JOIN tobaccocategory tt ON tt.id = rt.tobaccocategory
WHERE rc.id =  #{checkId}

  </select>

</mapper>