<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwj.mapper.RawentryMapper" >
  <resultMap id="BaseResultMap" type="com.mwj.model.Rawentry" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ENTRYNUM" property="entrynum" jdbcType="VARCHAR" />
    <result column="ENTRYDATE" property="entrydate" jdbcType="TIMESTAMP" />
    <result column="DELIVERYCOMPANY" property="deliverycompany" jdbcType="DECIMAL" />
    <result column="CLIENT" property="client" jdbcType="DECIMAL" />
    <result column="CARNUM" property="carnum" jdbcType="VARCHAR" />
    <result column="OPERATOR_" property="operator" jdbcType="DECIMAL" />
    <result column="STORAGELOCATIONID" property="storagelocationid" jdbcType="DECIMAL" />
    <result column="PRODUCINGYEAR" property="producingyear" jdbcType="DECIMAL" />
    <result column="PRODUCINGAREA" property="producingarea" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ENTRYNUM, ENTRYDATE, DELIVERYCOMPANY, CLIENT, CARNUM, OPERATOR_, STORAGELOCATIONID, 
    PRODUCINGYEAR, PRODUCINGAREA
  </sql>

<select id="displayRawentry" resultType="java.util.Map" parameterType="java.lang.Integer">
 SELECT re.entrynum,us.name_ OPERATOR_,re.entrydate,decom.name_ DELIVERYCOM ,
clcom.name_ CLIENT ,re.carnum,sl.name_ storagelocation,pa.name_ producingarea,re.producingyear
FROM RAWENTRY re
JOIN company decom ON decom.id = re.deliverycompany
JOIN company clcom ON clcom.ID = re.client
JOIN USERS us ON us.id = re.operator_
JOIN producingarea pa ON pa.id = re.producingarea
JOIN storagelocation sl ON sl.id = re.storagelocationid
WHERE re.id = #{rawentryId}
</select>

  <select id="checkNemberInfo" resultType="java.util.Map" parameterType="java.lang.String">
SELECT rc.id RCID,rc.checknum CHECKNUM,tl.levelname_ LEVELNA,
tt.name_ TOBACCOCATEGORY,rd.checkweight checkweight
FROM Rawcheck rc
JOIN Rawtobacco rt ON rt.id = rc.rawtobacco
JOIN tobaccolevel tl ON rt.level_ = tl.levelid
JOIN tobaccocategory tt ON tt.id = rt.tobaccocategory
JOIN RAWCHECKDETAIL rd ON rd.checkinfo = rc.id
WHERE rc.checknum = #{checkNumber}
  </select>

  <insert id="addRawentry" parameterType="com.mwj.model.Rawentry" >

    <selectKey keyProperty="id"  resultType="java.lang.Integer" >
      select RAWENTRY_SEQ.NEXTVAL-1 FROM  dual
    </selectKey>
    insert into RAWENTRY (ID, ENTRYNUM, ENTRYDATE, 
      DELIVERYCOMPANY, CLIENT, CARNUM, 
      OPERATOR_, STORAGELOCATIONID, PRODUCINGYEAR, 
      PRODUCINGAREA)
    values (RAWENTRY_SEQ.NEXTVAL, #{entrynum,jdbcType=VARCHAR}, #{entrydate,jdbcType=TIMESTAMP},
      #{deliverycompany,jdbcType=DECIMAL}, #{client,jdbcType=DECIMAL}, #{carnum,jdbcType=VARCHAR}, 
      #{operator,jdbcType=DECIMAL}, #{storagelocationid,jdbcType=DECIMAL}, #{producingyear,jdbcType=DECIMAL}, 
      #{producingarea,jdbcType=DECIMAL})
  </insert>

</mapper>