<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwj.mapper.RawentryMapper" >
  <resultMap id="BaseResultMap" type="com.mwj.model.Rawentry" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ENTRYNUM" property="entrynum" jdbcType="VARCHAR" />
    <result column="ENTRYDATE" property="entrydate" jdbcType="TIMESTAMP" />
    <result column="DELIVERYCOMPANY" property="deliverycompany" jdbcType="DECIMAL" />
    <result column="CLIENT" property="client" jdbcType="DECIMAL" />
    <result column="CARNUM" property="carnum" jdbcType="VARCHAR" />
    <result column="OPERATOR_" property="operator" jdbcType="DECIMAL" />
    <result column="STORAGELOCATIONID" property="storagelocationid" jdbcType="DECIMAL" />
    <result column="PRODUCINGYEAR" property="producingyear" jdbcType="DECIMAL" />
    <result column="PRODUCINGAREA" property="producingarea" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ENTRYNUM, ENTRYDATE, DELIVERYCOMPANY, CLIENT, CARNUM, OPERATOR_, STORAGELOCATIONID, 
    PRODUCINGYEAR, PRODUCINGAREA
  </sql>

<select id="displayRawentry" resultType="java.util.Map" parameterType="java.lang.Integer">
 SELECT re.entrynum,us.name_ OPERATOR_,re.entrydate,decom.name_ DELIVERYCOM ,
clcom.name_ CLIENT ,re.carnum,sl.name_ storagelocation,pa.name_ producingarea,re.producingyear
FROM RAWENTRY re
JOIN company decom ON decom.id = re.deliverycompany
JOIN company clcom ON clcom.ID = re.client
JOIN USERS us ON us.id = re.operator_
JOIN producingarea pa ON pa.id = re.producingarea
JOIN storagelocation sl ON sl.id = re.storagelocationid
WHERE re.id = #{rawentryId}
</select>

  <select id="checkNemberInfo" resultType="java.util.Map" parameterType="java.lang.String">
SELECT rc.id RCID,rc.checknum CHECKNUM,tl.levelname_ LEVELNA,
tt.name_ TOBACCOCATEGORY,rd.checkweight checkweight
FROM Rawcheck rc
JOIN Rawtobacco rt ON rt.id = rc.rawtobacco
JOIN tobaccolevel tl ON rt.level_ = tl.levelid
JOIN tobaccocategory tt ON tt.id = rt.tobaccocategory
JOIN RAWCHECKDETAIL rd ON rd.checkinfo = rc.id
WHERE rc.checknum = #{checkNumber}
  </select>
  <select id="showRawentrySheet" resultType="java.util.Map" parameterType="java.lang.String">
  SELECT RE.ID,RE.ENTRYNUM,DECOM.NAME_ DELIVERYCOMPANYNAME,CLCOM.NAME_ CLIENTNAME,RE.CARNUM,RE.PRODUCINGYEAR,
 PA.NAME_ PRODUCINGAREANAME,US.NAME_ LOCATIONUSER,SL.NAME_ LOCATIONNAME,RE.ENTRYDATE,RC.CHECKNUM,
 RD.STANDARD_ ,RD.AMOUNT ,TL.LEVELNAME_,TC.NAME_ TOBACCOCATEGORYNAME,RD.WEIGHT
  FROM RAWENTRY RE
  JOIN COMPANY DECOM ON DECOM.ID = RE.DELIVERYCOMPANY
  JOIN COMPANY CLCOM ON CLCOM.ID = RE.CLIENT
  JOIN USERS US ON US.ID = RE.OPERATOR_
  JOIN PRODUCINGAREA PA ON PA.ID = RE.PRODUCINGAREA
  JOIN STORAGELOCATION SL ON SL.ID = RE.STORAGELOCATIONID
  JOIN RAWENTRYDETAIL RD ON RD.ENTRYINFO = RE.ID
  JOIN RAWCHECK RC ON RC.ID = RD.RAWCHECK
  JOIN RAWTOBACCO RT ON RT.ID = RC.ID
  JOIN TOBACCOLEVEL TL ON RT.LEVEL_ = TL.LEVELID
  JOIN TOBACCOCATEGORY TC ON TC.ID = RT.TOBACCOCATEGORY
  WHERE RD.ENTRYINFO =(SELECT DISTINCT RD.ENTRYINFO FROM RAWENTRY RE JOIN RAWENTRYDETAIL RD ON RE.ID = RD.ENTRYINFO
  WHERE RE.ENTRYNUM = #{entryNumber})
  </select>

    <select id="allRawentry" resultType="java.util.Map">

 SELECT RE.ID,RE.ENTRYNUM,DECOM.NAME_ DELIVERYCOMPANYNAME,CLCOM.NAME_ CLIENTNAME,RE.CARNUM,
 RE.PRODUCINGYEAR,US.NAME_ OPERTERNAME,PA.NAME_ PRODUCINGAREA,RE.ENTRYDATE,SL.NAME_ LOCATIONNAME
 FROM RAWENTRY RE
 JOIN COMPANY DECOM ON DECOM.ID = RE.DELIVERYCOMPANY
 JOIN COMPANY CLCOM ON CLCOM.ID = RE.CLIENT
 JOIN VERIFYINFO VE ON RE.ID = VE.RAW_ENTRY_ID
 JOIN USERS US ON US.ID = RE.OPERATOR_
 JOIN STORAGELOCATION SL ON SL.ID = RE.STORAGELOCATIONID
 JOIN PRODUCINGAREA PA ON PA.ID = RE.PRODUCINGAREA
  WHERE VE.FLAG = 0

    </select>

    <select id="showVeryRawentry" resultType="java.util.Map" parameterType="java.lang.String">
       SELECT RE.ID,RE.ENTRYNUM,DECOM.NAME_ DELIVERYCOMPANYNAME,CLCOM.NAME_ CLIENTNAME,RE.CARNUM,
 RE.PRODUCINGYEAR,US.NAME_ OPERTERNAME,PA.NAME_ PRODUCINGAREA,RE.ENTRYDATE,SL.NAME_ LOCATIONNAME,VE.FLAG
 FROM RAWENTRY RE
 JOIN COMPANY DECOM ON DECOM.ID = RE.DELIVERYCOMPANY
 JOIN COMPANY CLCOM ON CLCOM.ID = RE.CLIENT
 JOIN VERIFYINFO VE ON RE.ID = VE.RAW_ENTRY_ID
 JOIN USERS US ON US.ID = RE.OPERATOR_
 JOIN STORAGELOCATION SL ON SL.ID = RE.STORAGELOCATIONID
 JOIN PRODUCINGAREA PA ON PA.ID = RE.PRODUCINGAREA
  WHERE RE.ENTRYNUM = #{veryEntryNumber}
    </select>

  <insert id="addRawentry" parameterType="com.mwj.model.Rawentry" >

    <selectKey keyProperty="id"  resultType="java.lang.Integer" >
      select ALLTABLE_SEQ.NEXTVAL-1 FROM  dual
    </selectKey>
    insert into RAWENTRY (ID, ENTRYNUM, ENTRYDATE, 
      DELIVERYCOMPANY, CLIENT, CARNUM, 
      OPERATOR_, STORAGELOCATIONID, PRODUCINGYEAR, 
      PRODUCINGAREA)
    values (ALLTABLE_SEQ.NEXTVAL, #{entrynum,jdbcType=VARCHAR}, #{entrydate,jdbcType=TIMESTAMP},
      #{deliverycompany,jdbcType=DECIMAL}, #{client,jdbcType=DECIMAL}, #{carnum,jdbcType=VARCHAR}, 
      #{operator,jdbcType=DECIMAL}, #{storagelocationid,jdbcType=DECIMAL}, #{producingyear,jdbcType=DECIMAL}, 
      #{producingarea,jdbcType=DECIMAL})
  </insert>

</mapper>